// colors

$dark-purple: rgb(31, 5, 61);
$transparent-dark-purple: rgba(31, 5, 61, .3);
$orange-onpurp: rgb(228, 174, 74);
$light-blue: rgba(22, 162, 218, 0.747);
$transparent-dark: rgba(0, 0, 0, .5);
$transparent-orange-onpurp: lighten(rgb(228, 174, 74), 1);
$off-purp:rgba(226, 21, 216, 0.815);
$off-d-purp:darken(rgb(98, 82, 117),5);
$dangour-red: rgba(226, 12, 48, 0.5);
$warm-welcome: rgba(226, 176, 12, 0.651);
$dark-blue: rgb(5, 24, 46);
$bright-green: #8bc34a;
$off-red: #ef7a9b ;
// sizes

$m-size: 2.5rem; 
$norm-size: 1.5rem;
$s-size: 1rem;
$phone-width: 45rem;
$phone-height: 40rem;